<map id="Map" name="Map">
  <area alt="Sonoma" coords="162,283,156,275,154,262,151,253,143,243,136,239,126,245,117,244,107,246,53,247,51,273,85,274,112,274,132,274,148,278" href="/apcatalog/ap_indexes/county.php?county_id=233&amp;state_id=5" shape="poly" />
  <area alt="Ventura" coords="319,541,318,555,279,558,263,556,261,540,288,539,304,539" href="/apcatalog/ap_indexes/county.php?county_id=240&amp;state_id=5" shape="poly" />
  <area alt="Humboldt" coords="105,159,105,145,105,129,109,122,107,107,114,96,115,89,114,82,112,76,102,74,98,70,87,69,70,69,49,86,33,96,29,106,29,131,68,136,66,149,79,161" href="/apcatalog/ap_indexes/county.php?county_id=196&amp;state_id=5" shape="poly" />
  <area alt="Mendocino" coords="139,193,137,186,138,178,139,171,135,167,115,166,108,164,90,165,78,168,63,169,36,179,35,205,82,209,97,216,94,233,107,241,116,241,124,241,131,238,121,234,119,224,121,217,130,215,125,205,127,196" href="/apcatalog/ap_indexes/county.php?county_id=207&amp;state_id=5" shape="poly" />
  <area alt="Lassen" coords="225,136,226,127,225,118,224,109,223,97,222,88,292,90,292,161,279,165,266,155,255,147,246,151,238,154,238,145" href="/apcatalog/ap_indexes/county.php?county_id=202&amp;state_id=5" shape="poly" />
  <area alt="San Diego" coords="500,596,501,655,401,669,412,604" href="/apcatalog/ap_indexes/county.php?county_id=221&amp;state_id=5" shape="poly" />
  <area alt="Marin" coords="162,302,150,301,135,301,95,300,40,294,38,276,100,277,132,278,144,282,158,286,171,293" href="/apcatalog/ap_indexes/county.php?county_id=205&amp;state_id=5" shape="poly" />
  <area alt="Alpine" coords="325,271,312,273,306,274,297,274,287,272,277,264,275,263,283,259,288,252,305,254,341,260,362,260,430,259,433,286,366,284,336,270" href="/apcatalog/ap_indexes/county.php?county_id=186&amp;state_id=5" shape="poly" />
  <area alt="Orange" coords="438,595,410,562,400,562,389,580,371,580,365,607" href="/apcatalog/ap_indexes/county.php?county_id=214&amp;state_id=5" shape="poly" />
  <area alt="Tulare" coords="373,380,380,402,386,408,388,427,395,441,316,445,315,430,312,425,318,415,319,406,316,400,328,393,343,385,345,383" href="/apcatalog/ap_indexes/county.php?county_id=238&amp;state_id=5" shape="poly" />
  <area alt="Kings" coords="310,399,316,406,316,413,312,423,310,428,312,434,314,445,277,445,271,437,285,423,292,406,300,403" href="/apcatalog/ap_indexes/county.php?county_id=200&amp;state_id=5" shape="poly" />
  <area alt="Mono" coords="350,329,343,326,337,316,331,314,330,305,327,300,328,295,320,288,309,284,312,276,333,274,371,301,404,301,411,318,390,323,394,329" href="/apcatalog/ap_indexes/county.php?county_id=210&amp;state_id=5" shape="poly" />
  <area alt="Sierra" coords="238,203,238,197,237,191,244,188,242,184,252,188,269,188,283,186,286,180,304,176,345,169,357,172,361,193,338,197,302,196,291,196,283,202" href="/apcatalog/ap_indexes/county.php?county_id=230&amp;state_id=5" shape="poly" />
  <area alt="Shasta" coords="220,93,171,94,169,99,160,106,158,114,157,123,158,131,138,139,140,145,151,141,163,141,172,141,182,141,193,139,206,138,214,141,222,135" href="/apcatalog/ap_indexes/county.php?county_id=229&amp;state_id=5" shape="poly" />
  <area alt="Kern" coords="412,504,326,505,278,449,412,445" href="/apcatalog/ap_indexes/county.php?county_id=199&amp;state_id=5" shape="poly" />
  <area alt="Imperial" coords="503,594,614,659" href="/apcatalog/ap_indexes/county.php?county_id=197&amp;state_id=5" shape="rect" />
  <area alt="Santa Barbara" coords="318,503,301,497,287,493,280,490,268,496,247,498,192,497,191,528,249,524,254,536,273,536,293,537,311,537,317,537,314,556" href="/apcatalog/ap_indexes/county.php?county_id=226&amp;state_id=5" shape="poly" />
  <area alt="El Dorado" coords="286,250,280,257,272,264,258,256,239,243,240,237,248,233,260,240,266,234,289,232,304,241,329,244,336,238,427,236,429,254,344,256,294,249" href="/apcatalog/ap_indexes/county.php?county_id=193&amp;state_id=5" shape="poly" />
  <area alt="SLO" coords="316,498,275,447,215,444,196,444,131,445,150,492,254,495,281,486" href="/apcatalog/ap_indexes/county.php?county_id=224&amp;state_id=5" shape="poly" />
  <area alt="San Mateo" coords="180,347,178,337,172,323,165,320,90,321,87,348" href="/apcatalog/ap_indexes/county.php?county_id=225&amp;state_id=5" shape="poly" />
  <area alt="Los Angeles" coords="413,508,413,548,407,559,399,559,389,575,371,576,341,595,319,605,317,581,364,543,353,510" href="/apcatalog/ap_indexes/county.php?county_id=203&amp;state_id=5" shape="poly" />
  <area alt="Tehama" coords="142,176,145,169,140,163,137,156,136,148,143,146,156,146,162,143,168,145,185,143,197,140,208,142,216,144,217,151,212,162,199,166,191,173,183,174,171,177" href="/apcatalog/county.php?county_id=236&amp;state_id=5" shape="poly" />
  <area alt="Trinity" coords="136,163,133,155,131,148,131,140,138,135,147,131,151,128,152,120,155,114,154,106,158,101,162,98,165,94,164,90,161,87,161,80,153,84,146,90,144,97,140,104,135,104,130,97,121,93,118,99,113,107,114,125,109,131,108,146,108,161" href="/apcatalog/ap_indexes/county.php?county_id=237&amp;state_id=5" shape="poly" />
  <area alt="Inyo" coords="401,441,390,414,389,404,383,397,377,381,374,366,368,357,361,353,352,335,398,332,530,431,530,431" href="/apcatalog/ap_indexes/county.php?county_id=198&amp;state_id=5" shape="poly" />
  <area alt="Del Norte" coords="107,72,97,66,86,66,71,66,52,69,22,68,23,40,58,31,80,32,114,33,104,41,103,53" href="/apcatalog/ap_indexes/county.php?county_id=192&amp;state_id=5" shape="poly" />
  <area alt="Siskiyou" coords="120,91,126,93,134,96,137,97,141,92,146,87,154,82,162,74,168,81,167,90,216,90,215,57,216,31,116,26,113,44,111,63" href="/apcatalog/ap_indexes/county.php?county_id=231&amp;state_id=5" shape="poly" />
  <area alt="Ventura" coords="350,509,359,542,319,569,321,507" href="/apcatalog/ap_indexes/county.php?county_id=240&amp;state_id=5" shape="poly" />
  <area alt="Lake" coords="157,254,163,249,165,237,166,228,157,217,152,210,147,203,143,196,134,198,134,207,136,215,133,221,127,222,132,233,142,232,150,242" href="/apcatalog/ap_indexes/county.php?county_id=201&amp;state_id=5" shape="poly" />
  <area alt="Riverside" coords="417,564,426,558,608,546,612,591,503,593,442,595" href="/apcatalog/ap_indexes/county.php?county_id=217&amp;state_id=5" shape="poly" />
  <area alt="Fresno" coords="373,378,371,368,362,360,355,358,351,347,349,339,345,335,342,332,328,341,326,355,321,357,314,364,308,367,302,375,295,380,284,384,269,383,262,378,260,370,260,367,246,381,255,394,259,401,257,412,254,418,255,422,271,431,277,426,284,419,290,406,296,402,303,398,315,395,316,397,321,390,322,384,333,380,347,378,359,377" href="/apcatalog/ap_indexes/county.php?county_id=194&amp;state_id=5" shape="poly" />
  <area alt="Central" coords="342,330,332,318,323,318,325,307,321,297,305,288,305,276,291,278,277,269,266,265,237,243,238,226,226,214,237,204,235,196,219,182,212,173,211,166,201,173,185,178,179,182,141,180,140,188,152,194,153,202,162,215,170,229,168,241,165,255,156,258,159,265,163,276,176,291,173,304,171,316,179,327,184,343,195,353,204,359,208,369,208,378,223,388,225,399,234,406,240,411,247,409,246,394,233,381,243,372,255,361,257,357,266,364,271,374,280,379,292,378,302,363,316,356,320,340" 
    href="central-california-counties.php" shape="poly" />
  <area alt="Monterey" coords="272,444,268,435,259,430,252,426,248,421,248,417,241,415,236,415,222,401,219,398,217,391,213,388,203,381,200,376,187,375,175,383,153,388,89,396,130,436,205,431,210,442" href="/apcatalog/ap_indexes/county.php?county_id=211&amp;state_id=5" shape="poly" />
  <area alt="Placer" coords="373,235,337,234,329,241,307,239,292,230,286,226,273,230,266,230,259,232,249,231,242,231,240,224,253,215,286,214,301,221,317,219,379,217,383,226" href="/apcatalog/ap_indexes/county.php?county_id=215&amp;state_id=5" shape="poly" />
  <area alt="Nevada" coords="238,222,249,213,296,214,303,219,322,218,368,215,396,214,406,207,411,188,357,196,331,198,300,198,280,204,262,204,254,200,245,205,239,208,231,214" href="/apcatalog/ap_indexes/county.php?county_id=213&amp;state_id=5" shape="poly" />
  <area alt="San Bernadino" coords="415,561,410,558,417,548,416,443,535,436,590,479,618,531,615,543" href="/apcatalog/ap_indexes/county.php?county_id=220&amp;state_id=5" shape="poly" />
  <area alt="Santa Cruz" coords="201,367,195,373,183,375,166,382,84,384,85,352,163,351,176,350,190,354" href="/apcatalog/ap_indexes/county.php?county_id=228&amp;state_id=5" shape="poly" />
  <area alt="Santa Barbara" coords="313,563,300,563,287,564,278,566,263,563,253,568,261,579,274,584,294,587,314,581" href="/apcatalog/ap_indexes/county.php?county_id=226&amp;state_id=5" shape="poly" />
  <area alt="Modoc" coords="220,84,220,69,220,57,220,47,220,31,293,29,293,87" href="/apcatalog/ap_indexes/county.php?county_id=209&amp;state_id=5" shape="poly" />
  <area alt="SFO" coords="169,318,91,318,81,323,42,323,39,296,94,302,149,303,164,307" href="/apcatalog/ap_indexes/county.php?county_id=222&amp;state_id=5" shape="poly" />
  <area alt="Plumas" coords="279,185,268,185,254,186,241,182,238,186,232,191,228,186,221,181,216,173,214,165,219,160,220,155,224,150,221,143,226,139,236,138,233,155,238,160,245,157,251,151,256,153,263,161,273,165,283,168,294,165,293,175,284,177" href="/apcatalog/ap_indexes/county.php?county_id=216&amp;state_id=5" shape="poly" />
</map>
