html { height: 100%; }
body { padding-top: 0px; }
#page { position: relative; }

#header {
  overflow: hidden;
  position: relative;
}

#content {
  margin-right: 20px;    
}

.front #content {
  margin-right: 0;    
}

a#logo { float: left; }

#main-menu a#context-block-region-site_menu {
    display: none;
}

#block-ucsb_library-library_hours {
    padding-left:30px;
  position: absolute;
  top: 25px;
  right: 10px;
}

#block-search-0 {
  position: absolute;
  top: 50px;
  right: 10px;
}
#alertbox {
  margin-top: 35px;
}
#breadcrumbs-title { margin-top: 3.571em; }

ul.breadcrumbs { 
/*    float: left; */
    margin: 0.571em 0.5em 0.714em 0;
  }
#breadcrumbs-title h1.page-title { display: inline-block; }

.block {
padding:10px;
}

#sidebar-right .block {
  margin-bottom: 0;
}

.sidebar .block h4, .sidebar .block .block-content {
  padding: 4px 10px;
  margin: 0;
}

#block-menu-menu-navigation-corner { 
background:url("../images/login_bkgd.png") no-repeat scroll right top transparent;
float:right;
height:22px;
margin:0 -10px 0;
text-align:right;
padding: 0 20px 0 0;
width:202px;
}

#main-menu {
  position: absolute;
  top: 90px;
 /* overflow: hidden; */
  height: 30px;
  width: 100%;
}

#block-megamenu-0.block {
    padding:10px 0 0 0;
}

#supernav {
  position: absolute;
  top: 0;
  right: 0;
}

#search-box {
  position: absolute;
  right: 20px;
  text-align: right;
  top: 58px;
  width: 500px;
}

input#edit-search-theme-form-1, input#edit-search-block-form-1, input#edit-keys {
  width: 400px;
  font-size: 0.8em;
  height: 14px;
}

#content .node .content {
    margin-right: 20px;
}

#block-search-0 input#edit-search-block-form-1 { width: 200px; }
#footer-region { }

#footer {
  margin-left: 0;
  margin-right: 0;
  width: 960px;
}

#footer #block-block-17.block  {
    margin-top:30px;
}

#footer #block-menu-menu-navigation-footer-tertiary.block {
    padding-top:0;
}

body.page-admin #main-content table {
  width: 90%;
  margin: 10px auto;
}

/* positioned components */

#block-menu-menu-navigation-footer-primary, #block-menu-menu-navigation-footer-secondary, #block-block-17, #block-menu-menu-navigation-footer-tertiary  { 
    float: left; 
}

#block-block-15, #block-block-16 { 
    float: right; 
}

.submitted { float: left; }
.page-user .submitted { float: none; }

.meta {
  text-align: left;
  margin-top: 20px;
}

/* ------- Skip to nav menu/content links ------- */
#skip-links a, #skip-links a:link, #skip-links a:visited, #skip-links a:hover { 
	height: 1px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: -500px;
	width: 1px;
}

#skip-links a:active, #skip-links a:focus {
	position: static;
	height: auto;
	width: auto;
}
/* ------- 
 * ------- End of skip links styles section -------
 * ------- 
 */