/* @override http://www-dev-1.library.ucsb.edu/sites/all/modules/contrib/megamenu/megamenu-skins.css?t */

/* Skins
 *
 * Skin styles should be limited to typography, colors, and
 * backgrounds. Except for text elements (i.e. h3, megamenu-title,
 * etc.), widths, margins, and padding of structural blocks are
 * set in the administration area.
 *--------------------------------------------------------*/

/* @group ucsb */

.megamenu-skin-ucsb{
    font-size: 14px;
	font-family:verdana,tahoma,arial,helvetica,sans-serif; /* pharmacy medium gold */
	padding:0px 0px 5px 10px;
	background-image: 
		-webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0, rgb(253,235,159)),
			color-stop(1, rgb(255,165,7))
		)
}


.megamenu-skin-ucsb{
	background-color: #FFA507;
	background-image: 
		-webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0, rgb(253,235,159)),
			color-stop(1, rgb(255,165,7))
		)
}




.megamenu-skin-ucsb{
	background-image:
		-moz-linear-gradient(
			center bottom,
			rgb(255,165,7  ) 0%
			,
			rgb(253,235,159) 100%
			)
	}
	
.block  ul.megamenu-skin-ucsb {
    padding-bottom:0;
}

li.megamenu-item { border: 0;
     font-size: 12px;

}

ul.megamenu-bin   {
list-style-type:none;
}

.megamenu-skin-ucsb .megamenu-parent-title{
	text-transform:uppercase;
}

.megamenu-skin-ucsb .megamenu-title {
	font-weight:normal;
}



.megamenu-skin-ucsb .megamenu-parent-title a,
.megamenu-skin-ucsb .megamenu-parent-title span,
.megamenu-skin-ucsb .hovering .megamenu-parent-title a:hover{
	-moz-border-radius-topright:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topleft:8px;
	-webkit-border-top-left-radius:8px;
	border: 1px transparent solid;
}

.megamenu-skin-ucsb .hovering .megamenu-parent-title a,
.megamenu-skin-ucsb .hovering .megamenu-parent-title span,
.megamenu-skin-ucsb .hovering .megamenu-parent-title a:hover{
	background: #D0D7E0; /* old browsers */
background: -moz-linear-gradient(top, #D0D7E0 0%, #EBF4FF 100%); /* firefox */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D0D7E0), color-stop(100%,#EBF4FF)); /* webkit */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D0D7E0', endColorstr='#EBF4FF',GradientType=0 ); /* ie */
		border-top:1px solid #95a9bd;
		border-left:1px solid #95a9bd;
		border-right:1px solid #95a9bd;
}

.megamenu-skin-ucsb ul.megamenu-bin {
  background: #FBFDFF; /* old browsers */
  background: -moz-linear-gradient(top, #FBFDFF 0%, #FBFDFF 83%, #D8E2F0 100%); /* firefox */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FBFDFF), color-stop(83%,#FBFDFF), color-stop(100%,#D8E2F0)); /* webkit */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBFDFF', endColorstr='#D8E2F0',GradientType=0 ); /* ie */	border:2px solid #95a9bd;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-box-shadow: 0px 3px 5px #03428f;
  -moz-box-shadow: 0px 3px 5px #03428f;	
  box-shadow: 0px 3px 5px #03428f;
}

.megamenu-skin-ucsb .megamenu-slot {
	margin-right: 3px;
}

.megamenu-slots-columnar li.megamenu-slot {
border-right:1px solid #3467a4;
}

.megamenu-slots-columnar li.megamenu-slot.last {
border-right:none;
}

.megamenu-skin-ucsb .megamenu-slot-title,
.megamenu-skin-ucsb .megamenu-slot-title a {
	background-color: #D9E5F2;
    font-size: 12px;
    font-weight: bold;
    margin: 0 5px;
    padding-bottom: 4px;
    text-align: center;
    text-transform: uppercase;
}

.megamenu-skin-ucsb .megamenu-link {
	font-size:85%;
}
/* @end ucsb*/

/* for IE */
.block-megamenu {
  position: relative;
  z-index: 200;
}
.megamenu-menu  .megamenu-bin {
  z-index: 1000;
}

